/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}

/* DELETE LATER */
body {
    background-color: blue;
}

/* COMMON */

/* HEADER E LOGO */
.container-header{
    background-color: white;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
}

#main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

#logo {
    vertical-align: middle;
}

/* MAIN CONTENT*/
.container-main {
    margin: 70px auto;
    width: 80%;
    background-color: white;
    padding: 25px 50px;
    border-radius: 10px;
}

/* MAIN HEADER */
.test {
    border-bottom: 1px solid black;
   
}

.add {
    display: inline-block;
    color: lightgray;
    border: 1px solid lightgray;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add:hover{
    background-color: #6495ED;
    color: white;
}

/* LIST */
.checks {
    line-height: 15px;
    padding-top: 15px;
}

.status {
    border-radius: 50%;
    border: 1px solid;
    font-size: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    vertical-align: middle;
}

.positive {
    color: lightseagreen;
}

.negative{
    color: red;
}

/* CATEGORIES */
.categories {
    display: inline-block;
    color: white;
    font-size: xx-small;
    border-radius: 8px;
    padding: 3px 6px;
}

.editorial {
    background-color: #6495ED;
}

.q1 {
    background-color: blueviolet;
}

.recruiting {
    background-color: lightseagreen;
}

.mobile {
    background-color: gold;
}

.website {
    background-color: violet;
}

.sales {
    background-color: goldenrod;
}

/* LIST FORMAT */
ul {
    list-style: none;
}

.list {
    padding-top: 30px;
}





























