/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}

/* DELETE LATER */
body {
    background-color: blue;
}

/* COMMON */

/* HEADER E LOGO */
.container-header{
    background-color: white;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
}

#main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

#logo {
    vertical-align: middle;
}

/* MAIN CONTENT*/
.container-main {
    margin: 70px auto;
    width: 80%;
    background-color: white;
    padding: 25px 50px;
    border-radius: 10px;
}

/* MAIN HEADER */
.test {
    border-bottom: 1px solid black;
   
}

.add {
    display: inline-block;
    color: lightgray;
    border: 1px solid lightgray;
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add:hover{
    background-color: rgb(110, 110, 250);
    color: white;
}

/*  */
